body{
    background-color: azure;
    color: #0b0e3a;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    padding: 5px 20px;
    background-color: #b8bcf3;
    color: #0b0e3a;
    border-style: none;
}

input {
    height: 23px;
}

